/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

@font-face {
  font-family: "open-sans-r";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "open-sans-b";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: bold;
}
body {
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  font-family: open-sans-r, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}

/*popup*/
.d-none {
  display: none !important;
}

.p-feedback {
  width: 100%;
  height: 100vh;
  align-items: flex-start;
  /*justify-content: center;
  /*padding-top: 50px;
  padding-bottom: 50px;*/
  /*background-image: url("../images/NOEMI_mq_desktop_popup.jpg");
  opacity: 0.7;
  background-blend-mode: multiply;*/
  background-color: rgba(0, 0, 0, 0.75);
  overflow-y: auto;
  position: fixed;
  top: 50;
  left: 50;
  display: flex;
  z-index: 8;

  font-size: 0.85em;
}

.p-feedback-select-label {
  margin-bottom: 20px;
  font-size: 0.957em;
}

.p-feedback-top {
  text-align: center;
  text-transform: uppercase;
  font-family: open-sans-b;
  font-weight: bold;
  line-height: 1.3;
}

.p-feedback-top::after {
  content: "";
  display: flex;
  position: relative;
  background-color: #b59f5b;
  width: 66px;
  height: 3px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
}

.p-feedback-container {
  display: flex;
  flex-direction: column;
  max-width: 390px;
  width: 95%;
  min-height: 590px;
  margin: auto;
  position: relative;
  background-color: #fff;
  padding: 48px 25px 55px 25px;
  line-height: 1.6;
}

.p-feedback-form {
  padding-top: 25px;
}

.p-feedback-select,
.p-feedback-field-opinion {
  border: none;
  background-color: #f4f7f6;
  padding-left: 20px;
  padding-top: 22px;
}

.p-feedback-select:focus,
.p-feedback-field-opinion:focus {
  background-color: transparent;
  outline: none;
}

.p-feedback-select {
  display: flex;
  flex-direction: row;
  font-family: inherit;
  margin-top: 7px;
  padding-top: 0px;
  color: #888;
  width: 100%;
  height: 47px;
  /*margin: 0;*/
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../svg/form-arrows.svg");
  background-size: 3%;
  background-repeat: no-repeat;
  background-position: right 5px center;
}

.p-feedback-form-radio {
  padding-top: 30px;
}

.p-feedback-radio-label {
  display: flex;
  flex-direction: row;
  font-size: 0.957em;
  padding-bottom: 2px;
}

.p-feedback-radio-group-text {
  color: #000;
  padding-right: 10px;
  font-size: 0.957em;
}

.p-feedback-radio-group-text::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
  vertical-align: middle;
  margin-right: 8px;
}

.radio:checked~.p-feedback-radio-group-text::before {
  background-image: url("../svg/form-circle.svg");
}

.radio {
  display: none;
}

.p-feedback-form-opinion {
  padding-top: 28px;

}

.p-feedback-group-opinion {
  display: block;
}

.p-feedback-field-opinion {
  overflow: auto;
  resize: none;
  width: 100%;
  height: 133px;
  font-family: open-sans-r;
}

.p-feedback-button {
  margin-top: 25px;
  height: 48px;
  border: none;
  width: 100%;
  background-color: #b59f5b;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1px;
  /*font-size: 0.813em;*/
  font-family: open-sans-r
}

/* крестик*/
.popup-close {
  width: 1.4em;
  height: 1em;
  position: absolute;
  top: -1.5em;
  right: 0;
  background-color: transparent;
  border: none;
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
}

.popup-close:hover {
  cursor: pointer;
}

.header-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  z-index: 1;
  align-items: stretch;
  max-width: 1200px;
}
.header {
  padding: 30px 0;
  background-color: #000;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
  margin-bottom: 30px;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}
.menu,
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  margin: 0;
  box-sizing: border-box;
}

.nav-menu {
  display: flex;
  margin-top: 25px;
}
.nav-menu:not(:first-child) {
  margin-left: 20px;
}
.menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
}
.nav-list {
  /*top: 15px;*/
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  margin-left: 35px;
  position: relative;
}

.nav-list:hover {
  text-decoration: underline;
  color: #dacfad;
}
.intro-title {
  font-family: open-sans-b, sans-serif;
  font-size: 45px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  max-width: 700px;
  margin: auto;
  padding: 128px 0;
}

/* trend */

.now-trend {
  display: flex;
  width: 100%;
  max-width: 1660px;
  margin: 0 auto 60px;
}

.now-trend-title {
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 1.25rem;
}

.card-trend {
  border: 3px solid #887d4c;
  z-index: 2;
  position: relative;
  width: 100%;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;
  padding-left: 35px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.now-trend-card {
  width: 100%;
}

.card-trend-wrapper {
  background-color: #eff6f1;
  height: 320px;
  background-image: url(../images/trend1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: calc(100% - 5px);
  display: flex;
  align-items: flex-end;
}

.card-trend-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.card-trend-wrapper-two {
  background-image: url(../images/trend2.jpg);
}

.card-trend-wrapper-three {
  background-image: url(../images/trend3.jpg);
}

.card-trend-wrapper-four {
  background-image: url(../images/trend4.jpg);
}

.now-trend-tag {
  margin-top: 39px;
}

.trend-title {
  text-transform: uppercase;
  font-size: 1rem;
  color: #fff;
  z-index: 1;
  position: relative;
}

.trend-title:hover {
  color: #b59f5b;
}

.trend-title-link {
  color: #fff;
  font-family: open-sans-b, sans-serif;
  font-size: 1.25rem;
}

.trend-title-link:hover {
  color: #b59f5b;
}

.card-title {
  text-transform: uppercase;
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
  z-index: 1;
  position: relative;
  margin: 0 auto;
}

.page {
  margin-top: 60px;
}

.page-wrapper {
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  max-width: 1200px;
}
/*main*/
.box-news {
  width: 915px;
  padding-left: 15px;
  float: left;
}
.page {
  margin-top: 60px;
}
/*.page-wrapper {
  width: 1200px;
  margin: auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}*/
.trends {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
/*figure {
  margin: 0;
}*/
.trend {
  height: 320px;
  background-color: #00f000;
  position: relative;
  z-index: 0;
  width: 24.8%;
}
.trend:nth-child(n + 1):nth-child(-n + 3) {
  margin-right: 3px;
}
.trend::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}
.trend-tag {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
  display: flex;
}
.trend-tag-item {
  margin-right: 20px;
}
.trend-tag-link {
  text-decoration: none;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 14px;
}
.trend-link {
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 37px;
}
.trend-text {
  width: 90%;
  border: 3px solid #b59f5b;
  padding: 36px 32px;
  align-items: flex-end;
}
.main {
  width: 778px;
}
.news:not(:first-child) {
  margin-top: 60px;
}
.news-img,
.new-img {
  display: block;
}
.news-tag {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
  display: flex;
}

.news-tag-item {
  margin-right: 20px;
}

.news-tag-link {
  text-decoration: none;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 14px;
}

.news-tag-link:hover {
  text-decoration: underline;
}

.news-name {
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 37px;
}
.news-link:hover {
  color: #b59f5b;
}

.date {
  color: #888888;
  font-size: 12px;
  margin-right: 10px;
  font-family: open-sans-b, sans-serif;
}

.author {
  font-family: open-sans-b, sans-serif;
  color: #000000;
  font-size: 12px;
}

.about {
  margin-top: 45px;
}

.about > p {
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
}

.about > p:not(:first-child) {
  margin-top: 20px;
}

.news-text {
  margin-left: 30px;
}

.news,
.new {
  display: flex;
}

.new-name {
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.3;
}
.aside-item:not(:first-child) {
  margin-top: 60px;
}

.aside {
  width: 270px;
  flex-shrink: 0;
}
.aside-title {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

.top {
  text-align: center;
  margin-bottom: 0px;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.3;
}

.top::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 66px;
  height: 3px;
  background: #b59f5b;
}

.new-text a {
  text-decoration: none;
  color: #000;
}

.new-text .date {
  font-size: 12px;
  text-decoration: none;
  color: #000;
  opacity: 0.54;
}

.new-text {
  margin-left: 20px;
}

.new {
  margin-top: 20px;
}
.new-link:hover {
  color: #b59f5b;
}

.search {
  margin-top: 60px;
  display: flex;
  width: 100%;
}

.search-group {
    width: calc(100% - 47px);
}

.hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.search-button {
  border: none;
  width: 47px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  background-color: #b59f5b;
  cursor: pointer;
}
.search-button:hover {
  background-color: #000;
}
.search-field {
  box-sizing: border-box;
  padding-left: 18px;
  padding-right: 18px;
  width: 100%;
  height: 47px;
  font-size: 13px;
  border: none;
  background-color: #f4f7f6;
}
.search-field:focus {
  outline: 1px solid #b59f5b;
}

.mailing-button {
  margin-top: 18px;
  height: 48px;
  border: none;
  width: 100%;
  background-color: #b59f5b;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}
.mailing-button:hover {
  background-color: #000;
}
.mailing-field {
  box-sizing: border-box;
  padding-left: 18px;
  padding-right: 18px;
  margin-top: 23px;
  width: 100%;
  height: 48px;
  font-size: 13px;
  border: none;
  background-color: #f4f7f6;
}
.mailing-field:focus {
  outline: 1px solid #b59f5b;
}
.list-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.list-tags-link {
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 12px;
  padding: 7px 11px;
  display: block;
}
.list-tags-item {
  margin: 4px 4px 0 0;
  border: 3px solid #f4f3f1;
}
.list-tags-item:hover {
  border-color: #b59f5b;
}
.list-theme {
  list-style: none;
}
.list-theme-link {
  align-items: center;
  align-content: space-between;
  text-decoration: none;
  font-family: open-sans-b, sans-serif;
  color: #000;
  font-size: 14px;
  padding: 0 5px 0 0;
}
.list-theme-link:hover {
  color: #b59f5b;
}
.list-theme-item {
  margin-top: 14px;
  margin-left: 3px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
.list-theme-count {
  display: inline-block;
  vertical-align: super;
  color: #b59f5b;
  font-family: open-sans-b, sans-serif;
  font-size: 12px;
}

/* SHOP */
.shop {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.shop-top {
  font-size: 1.25rem;
}

.shop-card-title {
  text-transform: uppercase;
  margin-bottom: 17px;
}

.shop-item {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shop-desc {
  padding-top: 18px;
  padding-bottom: 3px;
  outline: 3px solid #d3c59d;
  outline-offset: 30px;
  flex-grow: 1;
}

.shop-desc-title {
  /*font-weight: bold;*/
  font-family: open-sans-b, sans-serif;
  font-size: 1.25rem;
  padding-bottom: 5px;
  line-height: 24px;
  text-transform: uppercase;
}

.shop-title-info {
  padding-bottom: 10px;
  line-height: 22px;
}

.shop-desc-info {
  margin-bottom: 25px;
}

.shop-price {
  display: flex;
  justify-content: space-between;
}

.shop-price-left {
  display: flex;
  /*font-weight: bold;*/
  font-family: open-sans-b,sans-serif;
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: column;
  font-size: 1.25rem;
}

.price-left-top {
  font-size: 0.88rem;
}

.shop-price-right button {
  height: 50px;
  border: none;
  background-color: #b59f5b;
  font-family: open-sans-b, sans-serif;
  font-size: 0.88rem;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  width: 140px;
  text-align: center;
}

.shop-desc-info a {
  color: #b59f5b;
}

.shop-desc-info a:hover {
  text-decoration: underline;
}

.shop-price-right button:hover {
  background-color: #000;
}

.shop-price-right a {
  color: #fff;
}

.shop-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 65px;
  gap: 65px;
}

/*Social*/
.social-network {
  background-color: #eee;
  height: 84px;
  width: 100%;
}

.social-network-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.social-network-list-items:not(:first-child) {
  margin-left: 30px;
}

.social-network-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.social-network-dribbble {
  background-image: url(../svg/001-dribbble.svg);
}

.social-network-pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.social-network-tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}


footer {
  margin-top: 35px;
}
.copyright {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;

}
.copyright-link {
  font-size: 12px;
  font-family: open-sars-bs,sans-serif;
  color: #999;
}


@media (min-width: 768px) and (max-width: 1199px) {
  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
    background-color: #666;
    height: 613px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;

    margin: 0 auto;
  }

  .noemi-logo {
    width: 185px;
    margin-top: 50px;
    padding-left: 35px;
  }

  .nav-menu {
    display: none;
  }

  .nav {
    font-size: 1rem;
    color: red;
  }

  .burger-menu {
    width: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 5px;
    margin: 9px 35px;
    justify-content: center;
  }

  .burger-menu-span1 {
    width: 100%;
    height: 3px;
    background-color: #fff;
    color: #eee;
  }

  .burger-menu-span2 {
    width: 100%;
    height: 3px;
    background-color: #fff;
    color: #eee;
  }

  .burger-menu-span3 {
    width: 100%;
    height: 3px;
    background-color: #fff;
    color: #eee;
  }

  .intro-title {
    line-height: 75px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #fff;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 670px;
    margin-top: 80px;
    font-size: 2.8rem;
  }

  .now-trend {
    display: flex;
    flex-wrap: wrap;
  }

  .now-trend-card {
    width: 50%;
    margin-bottom: 5px;
  }

  .page-wrapper {
    max-width: 100%;
    margin: 0 30px;
  }

  .main {
    margin-right: 35px;
  }

  .new {
    display: flex;
    flex-direction: row;
    margin-right: 35px;
  }

  .news {
    display: flex;
    flex-direction: column;
  }

  .news-img {
    width: 100%;
  }


  .news-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 0px;
    position: relative;
  }

  .news-name {
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    font-size: 1.25rem;
    line-height: 1.2;
  }

  .about {
    margin-top: 40px;
  }

  .news-text:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background: #eee;
    bottom: -25px;
  }

  .shop-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 65px;
    gap: 75px;
    flex-wrap: wrap;
    margin-left: 35px;
    gap: 85px;
  }

  .footer-wrapper {
    margin: 0 35px;
  }
}

@media (max-width: 767px) {
  .intro-title {
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #fff;
    z-index: 1;
    position: relative;
    margin: 46px auto;
    width: 328px;
    font-size: 1.63rem;
  }

  .header {
    background-image: url(../images/banner-mobile.jpg);
    min-height: 640px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 767px;
  }

  .header-top {
    display: flex;
    justify-content: center;
  }

  .noemi-logo {
    margin-top: 235px;
    margin-left: auto;
    margin-right: auto;

    width: 270px;
  }

  .burger-menu {
    width: 25px;

    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 5px;
    margin: 0 0 185px 0;
    position: absolute;
    right: 35px;
    top: 35px;
  }

  .burger-menu-span1 {
    width: 100%;
    height: 3px;
    background-color: #fff;
    color: #eee;
  }

  .burger-menu-span2 {
    width: 100%;
    height: 3px;
    background-color: #fff;
    color: #eee;
  }

  .burger-menu-span3 {
    width: 100%;
    height: 3px;
    background-color: #fff;
    color: #eee;
  }

  .nav-menu {
    display: none;
  }

  .now-trend {
    display: flex;
    width: 100%;
    max-width: 767px;
    margin: 0 auto;
    flex-direction: column;
    gap: 5px;
  }

  .page-wrapper {
    max-width: 100%;
    flex-direction: column;
    margin-top: 60px;
    padding: 0 15px;
  }

  .main {
    width: 100%;
    flex-direction: column;
  }

  .news-img {
    margin-bottom: 10px;
    width: 100%;
  }

  .news {
    flex-direction: column;
  }

  .news-teg {
    margin: 0;
  }



  .news-description {
    display: flex;
    flex-direction: column;
  }

  .news-text {}

  .news-name {
    margin-bottom: 30px;
  }

  .aside {
    margin-top: 15px;
    width: 100%;

  }

  .aside-item {
    margin-top: 15px;
  }

  .about {
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .new-top {
    font-size: 14px;
    width: 100%;
    margin-top: 25px;
  }

  .shop-container {
    display: flex;
    margin-bottom: 65px;
    gap: 65px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-wrapper {
    margin: 0 15px;
  }
}
